<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="author" content="Richard Liu, liuyngchng@hotmail.com">
        <meta name="designer" content="">
        <meta name="owner" content="">
        <meta name="url" content="/order/index.do">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".submit").click(function(){
//                    alert("start");
                    var params= {"mobile":$(".mobile").val()};
                    var url= "save/work.do";
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: params,
                        success : function(data) {
				            alert(data.responseText);
                        },
                        error: function(data) {
                            alert(data.responseText);
                        }
                    });
                })
                $(".myButton").click(getLocation);
                function getLocation() {
                    if (navigator.geolocation)
                    {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else{
                        alert("Geolocation is not supported by this browser.");
                    }
                }
                function showPosition(position) {
                    var txt = 'lati:'+
                            position.coords.latitude +
                            "longi " +
                            position.coords.longitude;
                    $(".gps").val(txt);
                }
            })
        </script>
    </head>
    <body style="font-family: 'Microsoft YaHei';font-size: 1rem;">
        <h3 style="align-content: center"><a hef="" data-icon="home" data-iconpos="center" data-theme="c">Content</a></h3>

        <div>
            <label for="mobile">Mobile:</label>
            <input class="mobile" id="mobile" type="text" name="mobile" value="" placeholder="Your mobile"/>
        </div>
        <div>
            <label for="address">Name:</label>
            <input class="home" type="text" id="address" name="address" value="" placeholder="Your name"/>
        </div>
        <div>
            <label for="gps">GPS:</label>
            <input class="gps" type="text" id="gps" name="gps" value=""/>
        </div>
        <div>
            <span>&nbsp;</span>
            <button class="ui-btn ui-corner-all myButton">Button</button>
        </div>
    </body>
</html>