<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss SSS} [%-5level] [%thread] %logger{36} [%M %L] - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="orderAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>order/order.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>order/order.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} [%M %L] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.biz" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="orderAppender"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.Connection" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql.Statement" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>