<!-- 左侧菜单 -->
<nav class="navbar-default navbar-static-side backstage-left-menu" role="navigation">
    <div class="slimScrollDiv backstage-left-menu" style="position: relative; width: auto; height: 100%;">
        <div class="sidebar-collapse" style="width: auto; height: 100%;">
            <ul id="side-menu" class="nav">
                <li class="nav-header">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                    <strong class="font-bold"><br/>后台管理系统</strong>
                                </span>
                            </span>
                    </a>
                </li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span class="ng-scope"><a href="${request.contextPath}/common/logout">退出</a></span>
                </li>
                <li id="order" class="">
                    <a href="javascript:void(0)">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">信息查询</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a class="J_menuItem" href="javascript:getPage('${request.contextPath}/order/import')">业务A</a>
                            <a class="J_menuItem" href="javascript:getPage('${request.contextPath}/order/loan')">业务B</a>
                            <a class="J_menuItem" href="javascript:getPage('${request.contextPath}/order/repay')">业务C</a>
                        </li>
                    </ul>
                <li class="line dk"></li>
                </li>
            </ul>
        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 398.668px;"></div>
        <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.9; z-index: 90; right: 1px;"></div>
    </div>
</nav>
<script type="text/javascript">
    function getPage(url) {
        $.ajax({
            method: "post",
            url: url,
            data: {},
            success: function(data) {
                $("#page-wrapper").empty();
                $("#page-wrapper").html(data);
            }
        })
    }
</script>
