
<!DOCTYPE html>
<html>
    <head>
        #parse("common/common.html")
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"
        <script type="text/javascript">
            var phoneWidth =  parseInt(window.screen.width);
            var phoneScale = phoneWidth/640;
            var ua = navigator.userAgent;
            if (/Android (\d+\.\d+)/.test(ua)){
                var version = parseFloat(RegExp.$1);
                if(version>2.3){
                    document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
                }else{
                    document.write('<meta name="viewport" content="width=640">');
                }
            } else {
                document.write('<meta name="viewport" content="width=640, user-scalable=no">');
            }
        </script>
        <script type="text/javascript">
            function changeImage() {
                document.getElementById("img_random").src = "/kaptcha/authimage.jpg?rand="+ Math.random();
            }

            function _login(){
                if ($.trim($("#inputText3").val()) =='' || $.trim($("#inputPassword3").val())=='') {
                    alert("用户名、密码不能为空");
                    return;
                }
                $("#form1").submit();
            }
            $("html").die().live("keydown",function(event){
                if (event.keyCode==13) {
                    _login();
                }
            });
        </script>
    </head>
    <body>
        <!--nav-->
        <nav class="navbar navbar-default">
        </nav>
        <!--nav_end-->
        <input type="hidden" name="contextPath" class="contextPath" value="${request.contextPath}">
        <div class="login-from-box">
        <form class="form-horizontal" role="form" method="post" action="${request.contextPath}/common/login" id="form1">
            <div class="form-group">
                <label for="inputText3" class="col-xs-4 control-label">用户名：</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" style="width: 200px;" id="inputText3" placeholder="用户名" name="userName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-xs-4 control-label">密&nbsp;&nbsp;&nbsp;码：</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" style="width: 200px;" id="inputPassword3" placeholder="密&nbsp;&nbsp;&nbsp;码" name="password">
                </div>
            </div>

            <div class="form-group" >
                <label for="inputText3" class="col-xs-4 control-label"></label>
                <div  class="col-xs-8">
                    <button  class="btn btn-lg btn-primary btn-submit" type="button" id="btn1" style="background-color:#2867a3; height:35px;width: 200px; text-align: center; horiz-align: center;"  onclick="_login();">登&nbsp;&nbsp;&nbsp;录</button>
                </div>
            </div>
        </form>
        </div>
    </body>
</html>